vapid-private.pem
vapid-public.pem
vapid-private-key.txt
vapid-public-key.txt
vapid-public.der
node_modules/

# Repo Git bersarang / folder kerja lokal
SIDAT/

# SIDAT release signing files
*.jks
*.keystore
android/key.properties

# Backup lokal sebelum sinkronisasi WWW
www-backup-before-sync/
